* {
    box-sizing: border-box;
    border-radius: 20px;
}

:root {
    /* usage          var(--body) */
    --body:#b1a7a6;
    --top: #07344a;
    --drink-container:#d9d9d9;
    --drink-Image:#a4161a;
    --drink-info:#284b63;
    --choosen:#99C24D;
    --search-button:#89AAE6;
    --drink-desc:#89AAE6;

  }

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
html{
    scroll-behavior: smooth;
}
fieldset{
    border:none;
}
select{
    height: 40px;
}
body{
    padding: 0 40px;
    width: 100%;
    padding: 1%;
    margin: 0 auto;
    background-color: var(--body);
}
ul{
    list-style: none;
    padding:0;
    text-align: center;
    margin: 0;
    width: 100%;
}


h1{
    text-align: center;
    font-size: 2rem;
    margin:5px;
    text-shadow:1px 1px rgb(0, 42, 106);
    color:white;
}
h4{
    margin:0;
    padding-top:10px;
}







/* typography=================
===================================================== */

#choosen-ingrd h4{
    color:white;
    
}

select{
    text-align: center;
}

.drink-info{
    color:rgb(167, 182, 191);
}





/* ===============================================
STRUCTURE
================================================ */


#top{
    background-color: var(--top);
    height: 30%;
}

#top section{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: center;
  
}

main{
    vertical-align: top;
    width:100% ;
    /* border:black 1px solid; */
    display: inline-block;

}
section,ul{
    /* width: inherit; */
}

#drink-list li{
    /* border:green solid 2px; */
    width: 100%;
    text-align: center;
    box-shadow:1px 10px 10px rgb(0, 0, 0);
    padding: 1px;
    margin-bottom:10px;
}


            


#choosen-ingrd{
    padding: 10px 0;
}

#choosen-ingrd h4{
    padding: 10px 0;
   
}

#ingredient-choosen li{
    background-color: var(--choosen);
    line-height: 2rem;
    display: inline-block;
    border:black solid 1px;
    min-width: 25%;
    padding:0 10px;
    font-size: .9rem;

}

#ingredient-choosen {
    padding: 20px 0 ;
}

#ingredient-choosen li:hover{
    cursor: pointer;
    background-color: #cf4d02;
}


#get-drink{
    background-color: var(--search-button);
    padding: 1%;
    border:1px solid green;

}

.drink-container {
    width: 98%;
    background-color: var(--drink-container);
    margin: 0 auto;
    padding: 5px;
}

        .drink-image{
            
            /* height: 100%; */
            
            vertical-align: top;
            width: 100%;
            
        
        
        }
            .drink-image img{
                width: 100%;
            }


        .drink-info{
            width: 100%;
            display: inline-block;
            background-color: var(--drink-info);
        }

        
        

@media screen and (max-width:419px){
    h1{
        font-size: 1rem;
    }
    fieldset{
        padding:0;
    }
    #ingredient-choosen{
        padding: 0;
    }
    
}

@media (min-width:420px){
    #top{
        display: flex;
    }
    #top section:first-child{
        width: 40%;
    }
        #choosen-ingrd h4{
            padding: 0;
            margin:0;
        }
        #ingredient-select{
          
            width: 100%;
        }

        #ingredient-choosen {
            padding-top: 10px;
        }


}

@media (min-width:600px){
    .drink-container{
        display: flex;
        width: 100%;
        min-height: 300px;
    }
    
    .drink-info{
        font-size: 1.2rem;
        /* width: 100%; */
        flex:1;
    }
    .drink-image{
        flex:1;
      /* width: 100%; */
      /* height:  */
      
    }
        
    .drink-desc{
        flex:2;
        /* width:100%; */
    }

}

